<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>File Structure</span>
</div>

<!-- Add Root Folder button -->
<button class="button" (click)="addRootNode()">
  Add folder to root
</button>

<!-- Tree view of file structure -->
<div class="tree" *ngFor="let node of nodes; let i = index">
  <tree-view [node]="node" (actions)="getNodeActions($event)"></tree-view>
</div>


<!-- new root node-->
<add-node-input *ngIf="isNewNode" (actions)="getNodeActions($event)" [type]="'edit'"></add-node-input>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->